<?xml version="1.0"?>

<model>
  <name>swerve_description</name>
  <version>2.0</version>
  <sdf version="1.7">robot_swerve.sdf</sdf>

  <author>
    <name>Thanh_KeyZ</name>
    <email>ngothanh.contact@gmail.com</email>
  </author>

  <description>
    Robot Swerve Description
  </description>
</model>
